# Application
public/dist/*
public/wp-config.php
public/content
public/js

# WordPress
public/wp
public/.htaccess

# Logs
*.log
.ftpquota

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Node
node_modules
npm-debug.log
yarn-error.log

# VS Code
.vscode/settings.json

# Bud
storage/bud/*
public/runtime.*.hot-update.*
public/manifest.json
public/entrypoints.json
public/hmr.json

# ACF
auth.json

# Misc
.DS_Store
node_modules